/* Sidebar */
.card-sidebar {
    padding: 15px;
}

.plugin-label {
    font-size: 1em!important;
    margin-bottom: -1em;
}

/* Footer */
.footer {
  padding: 2em;
  width: 100%;
  background: #212121;
  color: white;
  text-align: center;
}
